<%= render "menu" %>

<h1>Hello Mate!</h1>

<p><strong>Hoje é </strong> <%= date_to_br Date.today %></p>

<p>Ambiente atual: <strong><%= actual_environment %></strong></p>

<p><%= 10.times { puts "potatos " } %></p>


